/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between; /* Space between logo and navigation */
    align-items: center; /* Center vertically */
    background-color: #282c34;
    padding: 20px;
    color: white !important;
   }

.logo h1 {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size as needed */
    
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
    display: flex; /* Flexbox for horizontal layout */
}

.header nav ul li {
    margin: 0 15px; /* Space between links */
}

.header nav ul li a {
    color: white !important;
    text-decoration: none;
    transition: color 0.3s; /* Transition effect for hover */
}
a, a:link{
    color: inherit !important;
    text-decoration: none !important;
  }
  
.header nav ul li a:hover {
    color: #61dafb !important; /* Change color on hover */
}


 
  