.about-container {
    text-align: center;
    padding: 20px;
    margin: 118px auto;
}

.developer-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.developer-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures the content and icons are spaced apart */
    height: 400px; /* You can adjust the height to fit your design */
}

.developer-logo {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: auto; /* Pushes the icons to the bottom */
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    transition: color 0.3s;
}

.social-icon.linkedin:hover {
    color: #0077b5; /* LinkedIn blue */
}

.social-icon.twitter:hover {
    color: #1DA1F2; /* Twitter blue */
}

.social-icon.github:hover {
    color: #333; /* GitHub black */
}
